[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.2.13"
djangorestframework = "==3.13.1"
django-environ = "*"
gunicorn = "*"
mysqlclient = "*"
djangorestframework-jwt = "*"
pysaml2 = "*"
django-cid = "*"
drf-yasg = "*"
coverage = "*"

[dev-packages]
flake8 = "*"

[requires]
python_version = "3.8"
